/* app css stylesheet */

body
{
  background-color:#555555
}

table
{
  border-collapse:collapse;
  background-color:#A698B9;
}
table,th,td
{
  border: 1px solid black;
}
tr.header>th
{
  vertical-align:bottom;
}
.highlight
{
  background-color:#D58D57;
}
.contralight
{
  background-color:#7CAA65;
}
