<table class="matrix">
    <tr class="header">
      <th>TYPE <br/>FILTERS</th>
      <th class="dominant">D<br/>O<br/>M<br/>I<br/>N<br/>A<br/>N<br/>T</th>
      <th class="auxiliary">A<br/>U<br/>X<br/>I<br/>L<br/>I<br/>A<br/>R<br/>Y</th>
      <th class="tertiary">T<br/>E<br/>R<br/>T<br/>I<br/>A<br/>R<br/>Y</th>
      <th class="inferior">I<br/>N<br/>F<br/>E<br/>R<br/>I<br/>O<br/>R</th>
    </tr>
    <tr class="type" ng-repeat="type in types">
      <th class="type">{{type.name}}</th>
      <td class="dominant">{{type.dominant}}</td>
      <td class="auxiliary">{{type.auxiliary}}</td>
      <td class="tertiary">{{type.tertiary}}</td>
      <td class="inferior">{{type.inferior}}</td>
    </tr>
</table>
